<div class="container w-75">
  <div class="border border-primary rounded p-4 m-2 border-3">
    <div class="text-primary text-center p-2"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i></div>
    <form #loginform="ngForm">
      <div class="mb-3" *ngIf="!formsubmitmesage && !formupdatemessage">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="email" class="form-control input-field" name="firstName" [(ngModel)]="usersobj.firstName" required>
      </div>
      <div class="mb-3" *ngIf="!formsubmitmesage && !formupdatemessage">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="email" class="form-control input-field" name="lastName" [(ngModel)]="usersobj.lastName" required>
      </div>
      <div class="mb-3" *ngIf="!formsubmitmesage && !formupdatemessage">
        <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
        <input type="email" class="form-control input-field" name="phoneNumber" [(ngModel)]="usersobj.phoneNumber"
          required [pattern]="mobNumberPattern">
      </div>
      <div class="mb-3" *ngIf="!formsubmitmesage && !formupdatemessage">
        <label for="exampleInputEmail1" class="form-label">Email Address</label>
        <input type="email" class="form-control input-field" name="emailaddress" [(ngModel)]="usersobj.emailaddress"
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>
      <div class="mb-3" *ngIf="!formsubmitmesage && !formupdatemessage">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control input-field" name="emailpassword"
          [(ngModel)]="usersobj.emailpassword" required minlength="6" maxlength="10">
      </div>
      <span *ngIf="formsubmitbtn  && !formsubmitmesage"><button type="submit" class="btn btn-primary btn-sm mb-3 w-100"
          [disabled]="loginform.invalid" (click)="adduser(loginform.value); loginform.reset()">Submit</button></span>
      <span *ngIf="formupdatebtn"><button class="btn btn-info btn-sm w-100" (click)="updateuser(); loginform.reset()"
          *ngIf="submitbtn" [disabled]="loginform.invalid">Update</button></span>
    </form>
    <button *ngIf="formsubmitmesage || formupdatemessage" class="btn btn-warning w-100 btn-sm"
      (click)="refillform()">Refill Form</button>
    <div class="text-success text-center my-4" *ngIf="formsubmitmesage">
      <span><b>Form Submited Successfully</b></span>
      <span>
        <!-- <img src="https://i.pinimg.com/originals/06/ae/07/06ae072fb343a704ee80c2c55d2da80a.gif"
          class="submit-image"> -->
          <svg class="check-icon mx-4" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
          <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
	C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
        </svg>
      </span>
    </div>
    <div class="text-success text-center my-4" *ngIf="formupdatemessage">
      <span><b>Form Update Successfully</b></span>
      <span>
        <!-- <img src="https://i.pinimg.com/originals/06/ae/07/06ae072fb343a704ee80c2c55d2da80a.gif"
          class="submit-image"> -->
        <svg class="check-icon mx-4" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
          <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
	C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
        </svg>
      </span>
    </div>
  </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Email Address</th>
        <th scope="col">Password</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of printusers">
        <td>{{users.id}}</td>
        <td>{{users.firstName}}</td>
        <td>{{users.lastName}}</td>
        <td>{{users.phoneNumber}}</td>
        <td>{{users.emailaddress}}</td>
        <td>{{users.emailpassword}}</td>
        <td>
          <button class="btn btn-warning btn-sm px-2 mx-3 rounded-circle" (click)="eadituser(users)"><i
              class="fa fa-pencil" aria-hidden="true" style="font-size: 20px;"></i></button>
          <button class="btn btn-danger btn-sm px-2 rounded-circle" (click)="removeuser(users)"><i class="fa fa-trash-o"
              aria-hidden="true" style="font-size: 20px;"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>